*.DS_Store
*.class
node_modules/
dist/
/target
/target/*
*/.idea/*

#忽略所有.svn目录
.svn/
#忽略所有target目录
target/
#忽略所有.idea目录
.idea/
#忽略所有.iml文件
*.iml
*.project
*.classpath
*/target/*
/target/
*.jar
crm-common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
crmduty-parent/.idea/inspectionProfiles/Project_Default.xml
*.DS_Store
crmduty-parent/crmduty-mbg/src/main/resources/generatorConfig.xml
crm-ui/duty/crmduty_ui_admin/.env.development
*.development
**/unpackage/
*.apk
