@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow-y: scroll!important;//el-image点击此标签会出发预览导致滚动条消失
}

label {
  font-weight: 550;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;

  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  //padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.flex {
		display: flex!important;
		display: -webkit-flex!important;
		display: -moz-flex!important;
		display: -ms-flex!important;
		display: -o-flex!important;
	}

	.flex-1 {
		flex: 1;
	}

	.f-a-c {
		align-items: center;
	}
  .f-a-s {
    align-items: flex-start;
  }

	.f-a-e {
		align-items: flex-end;
	}

	.f-j-c {
		justify-content: center;
	}

	.f-j-s {
		justify-content: space-between;
	}

	.f-j-e {
		justify-content: flex-end;
	}

	.f-c {
		flex-direction: column;
	}

	.f-n {
		flex-wrap: nowrap;
	}

	.f-w {
		flex-wrap: wrap;
	}
	.f-s-0 {
		flex-shrink:  0;
	}
::-webkit-scrollbar {
     width: 7px;
     height: 10px;
     border-radius:15px;
     -webkit-border-radius:  15px;
   }
    ::-webkit-scrollbar-track-piece {
     background-color: #ffff;
     border-radius:15px;
     -webkit-border-radius:  15px;
   }
    ::-webkit-scrollbar-thumb:vertical {
     height: 7px;
     background-color: rgba(144, 147, 153, 0.5);
     border-radius: 15px;
     -webkit-border-radius:  15px;
   }
    ::-webkit-scrollbar-thumb:horizontal {
     width: 7px;
     background-color: rgba(144, 147, 153, 0.5);
     border-radius:  15px;
     -webkit-border-radius: 15px;
   }
.tips{
    font-size: 12px;
    color:#999;
    margin-left: 5px;
  }
p{
  margin: 0;
}