<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyu.core.mapper.ConfigMissionDetailMapper">
  <resultMap id="BaseResultMap" type="com.chengyu.core.model.ConfigMissionDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mission_config_id" jdbcType="INTEGER" property="missionConfigId" />
    <result column="mission_config_name" jdbcType="VARCHAR" property="missionConfigName" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="buyer_finish_rate_one" jdbcType="DECIMAL" property="buyerFinishRateOne" />
    <result column="buyer_finish_rate_two" jdbcType="DECIMAL" property="buyerFinishRateTwo" />
    <result column="buyer_finish_rate_three" jdbcType="DECIMAL" property="buyerFinishRateThree" />
    <result column="buyer_valid_day" jdbcType="INTEGER" property="buyerValidDay" />
    <result column="seller_finish_rate_one" jdbcType="DECIMAL" property="sellerFinishRateOne" />
    <result column="seller_finish_rate_two" jdbcType="DECIMAL" property="sellerFinishRateTwo" />
    <result column="seller_finish_rate_three" jdbcType="DECIMAL" property="sellerFinishRateThree" />
    <result column="seller_valid_day" jdbcType="INTEGER" property="sellerValidDay" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    <result column="upd_by" jdbcType="VARCHAR" property="updBy" />
    <result column="mission_type" jdbcType="INTEGER" property="missionType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mission_config_id, mission_config_name, group_id, group_name, buyer_finish_rate_one, 
    buyer_finish_rate_two, buyer_finish_rate_three, buyer_valid_day, seller_finish_rate_one, 
    seller_finish_rate_two, seller_finish_rate_three, seller_valid_day, add_time, add_by, 
    upd_time, upd_by, mission_type
  </sql>
  <select id="selectByExample" parameterType="com.chengyu.core.model.ConfigMissionDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_mission_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from config_mission_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from config_mission_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chengyu.core.model.ConfigMissionDetailExample">
    delete from config_mission_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chengyu.core.model.ConfigMissionDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config_mission_detail (mission_config_id, mission_config_name, 
      group_id, group_name, buyer_finish_rate_one, 
      buyer_finish_rate_two, buyer_finish_rate_three, 
      buyer_valid_day, seller_finish_rate_one, seller_finish_rate_two, 
      seller_finish_rate_three, seller_valid_day, 
      add_time, add_by, upd_time, 
      upd_by, mission_type)
    values (#{missionConfigId,jdbcType=INTEGER}, #{missionConfigName,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{buyerFinishRateOne,jdbcType=DECIMAL}, 
      #{buyerFinishRateTwo,jdbcType=DECIMAL}, #{buyerFinishRateThree,jdbcType=DECIMAL}, 
      #{buyerValidDay,jdbcType=INTEGER}, #{sellerFinishRateOne,jdbcType=DECIMAL}, #{sellerFinishRateTwo,jdbcType=DECIMAL}, 
      #{sellerFinishRateThree,jdbcType=DECIMAL}, #{sellerValidDay,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{addBy,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}, 
      #{updBy,jdbcType=VARCHAR}, #{missionType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chengyu.core.model.ConfigMissionDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config_mission_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="missionConfigId != null">
        mission_config_id,
      </if>
      <if test="missionConfigName != null">
        mission_config_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="buyerFinishRateOne != null">
        buyer_finish_rate_one,
      </if>
      <if test="buyerFinishRateTwo != null">
        buyer_finish_rate_two,
      </if>
      <if test="buyerFinishRateThree != null">
        buyer_finish_rate_three,
      </if>
      <if test="buyerValidDay != null">
        buyer_valid_day,
      </if>
      <if test="sellerFinishRateOne != null">
        seller_finish_rate_one,
      </if>
      <if test="sellerFinishRateTwo != null">
        seller_finish_rate_two,
      </if>
      <if test="sellerFinishRateThree != null">
        seller_finish_rate_three,
      </if>
      <if test="sellerValidDay != null">
        seller_valid_day,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addBy != null">
        add_by,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
      <if test="updBy != null">
        upd_by,
      </if>
      <if test="missionType != null">
        mission_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="missionConfigId != null">
        #{missionConfigId,jdbcType=INTEGER},
      </if>
      <if test="missionConfigName != null">
        #{missionConfigName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="buyerFinishRateOne != null">
        #{buyerFinishRateOne,jdbcType=DECIMAL},
      </if>
      <if test="buyerFinishRateTwo != null">
        #{buyerFinishRateTwo,jdbcType=DECIMAL},
      </if>
      <if test="buyerFinishRateThree != null">
        #{buyerFinishRateThree,jdbcType=DECIMAL},
      </if>
      <if test="buyerValidDay != null">
        #{buyerValidDay,jdbcType=INTEGER},
      </if>
      <if test="sellerFinishRateOne != null">
        #{sellerFinishRateOne,jdbcType=DECIMAL},
      </if>
      <if test="sellerFinishRateTwo != null">
        #{sellerFinishRateTwo,jdbcType=DECIMAL},
      </if>
      <if test="sellerFinishRateThree != null">
        #{sellerFinishRateThree,jdbcType=DECIMAL},
      </if>
      <if test="sellerValidDay != null">
        #{sellerValidDay,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        #{addBy,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updBy != null">
        #{updBy,jdbcType=VARCHAR},
      </if>
      <if test="missionType != null">
        #{missionType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chengyu.core.model.ConfigMissionDetailExample" resultType="java.lang.Long">
    select count(*) from config_mission_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update config_mission_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.missionConfigId != null">
        mission_config_id = #{record.missionConfigId,jdbcType=INTEGER},
      </if>
      <if test="record.missionConfigName != null">
        mission_config_name = #{record.missionConfigName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerFinishRateOne != null">
        buyer_finish_rate_one = #{record.buyerFinishRateOne,jdbcType=DECIMAL},
      </if>
      <if test="record.buyerFinishRateTwo != null">
        buyer_finish_rate_two = #{record.buyerFinishRateTwo,jdbcType=DECIMAL},
      </if>
      <if test="record.buyerFinishRateThree != null">
        buyer_finish_rate_three = #{record.buyerFinishRateThree,jdbcType=DECIMAL},
      </if>
      <if test="record.buyerValidDay != null">
        buyer_valid_day = #{record.buyerValidDay,jdbcType=INTEGER},
      </if>
      <if test="record.sellerFinishRateOne != null">
        seller_finish_rate_one = #{record.sellerFinishRateOne,jdbcType=DECIMAL},
      </if>
      <if test="record.sellerFinishRateTwo != null">
        seller_finish_rate_two = #{record.sellerFinishRateTwo,jdbcType=DECIMAL},
      </if>
      <if test="record.sellerFinishRateThree != null">
        seller_finish_rate_three = #{record.sellerFinishRateThree,jdbcType=DECIMAL},
      </if>
      <if test="record.sellerValidDay != null">
        seller_valid_day = #{record.sellerValidDay,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addBy != null">
        add_by = #{record.addBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updTime != null">
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updBy != null">
        upd_by = #{record.updBy,jdbcType=VARCHAR},
      </if>
      <if test="record.missionType != null">
        mission_type = #{record.missionType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update config_mission_detail
    set id = #{record.id,jdbcType=INTEGER},
      mission_config_id = #{record.missionConfigId,jdbcType=INTEGER},
      mission_config_name = #{record.missionConfigName,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=INTEGER},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      buyer_finish_rate_one = #{record.buyerFinishRateOne,jdbcType=DECIMAL},
      buyer_finish_rate_two = #{record.buyerFinishRateTwo,jdbcType=DECIMAL},
      buyer_finish_rate_three = #{record.buyerFinishRateThree,jdbcType=DECIMAL},
      buyer_valid_day = #{record.buyerValidDay,jdbcType=INTEGER},
      seller_finish_rate_one = #{record.sellerFinishRateOne,jdbcType=DECIMAL},
      seller_finish_rate_two = #{record.sellerFinishRateTwo,jdbcType=DECIMAL},
      seller_finish_rate_three = #{record.sellerFinishRateThree,jdbcType=DECIMAL},
      seller_valid_day = #{record.sellerValidDay,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      add_by = #{record.addBy,jdbcType=VARCHAR},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      upd_by = #{record.updBy,jdbcType=VARCHAR},
      mission_type = #{record.missionType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyu.core.model.ConfigMissionDetail">
    update config_mission_detail
    <set>
      <if test="missionConfigId != null">
        mission_config_id = #{missionConfigId,jdbcType=INTEGER},
      </if>
      <if test="missionConfigName != null">
        mission_config_name = #{missionConfigName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="buyerFinishRateOne != null">
        buyer_finish_rate_one = #{buyerFinishRateOne,jdbcType=DECIMAL},
      </if>
      <if test="buyerFinishRateTwo != null">
        buyer_finish_rate_two = #{buyerFinishRateTwo,jdbcType=DECIMAL},
      </if>
      <if test="buyerFinishRateThree != null">
        buyer_finish_rate_three = #{buyerFinishRateThree,jdbcType=DECIMAL},
      </if>
      <if test="buyerValidDay != null">
        buyer_valid_day = #{buyerValidDay,jdbcType=INTEGER},
      </if>
      <if test="sellerFinishRateOne != null">
        seller_finish_rate_one = #{sellerFinishRateOne,jdbcType=DECIMAL},
      </if>
      <if test="sellerFinishRateTwo != null">
        seller_finish_rate_two = #{sellerFinishRateTwo,jdbcType=DECIMAL},
      </if>
      <if test="sellerFinishRateThree != null">
        seller_finish_rate_three = #{sellerFinishRateThree,jdbcType=DECIMAL},
      </if>
      <if test="sellerValidDay != null">
        seller_valid_day = #{sellerValidDay,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        add_by = #{addBy,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updBy != null">
        upd_by = #{updBy,jdbcType=VARCHAR},
      </if>
      <if test="missionType != null">
        mission_type = #{missionType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyu.core.model.ConfigMissionDetail">
    update config_mission_detail
    set mission_config_id = #{missionConfigId,jdbcType=INTEGER},
      mission_config_name = #{missionConfigName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR},
      buyer_finish_rate_one = #{buyerFinishRateOne,jdbcType=DECIMAL},
      buyer_finish_rate_two = #{buyerFinishRateTwo,jdbcType=DECIMAL},
      buyer_finish_rate_three = #{buyerFinishRateThree,jdbcType=DECIMAL},
      buyer_valid_day = #{buyerValidDay,jdbcType=INTEGER},
      seller_finish_rate_one = #{sellerFinishRateOne,jdbcType=DECIMAL},
      seller_finish_rate_two = #{sellerFinishRateTwo,jdbcType=DECIMAL},
      seller_finish_rate_three = #{sellerFinishRateThree,jdbcType=DECIMAL},
      seller_valid_day = #{sellerValidDay,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_by = #{addBy,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_by = #{updBy,jdbcType=VARCHAR},
      mission_type = #{missionType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>