<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyu.core.mapper.UmsPhonebookInviteMapper">
  <resultMap id="BaseResultMap" type="com.chengyu.core.model.UmsPhonebookInvite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="phone_id" jdbcType="VARCHAR" property="phoneId" />
    <result column="phone_model" jdbcType="VARCHAR" property="phoneModel" />
    <result column="this_phone" jdbcType="VARCHAR" property="thisPhone" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_id, member_name, phone_id, phone_model, this_phone, invite_code, add_time, 
    add_by
  </sql>
  <select id="selectByExample" parameterType="com.chengyu.core.model.UmsPhonebookInviteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_phonebook_invite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_phonebook_invite
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ums_phonebook_invite
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chengyu.core.model.UmsPhonebookInviteExample">
    delete from ums_phonebook_invite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chengyu.core.model.UmsPhonebookInvite">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_phonebook_invite (member_id, member_name, phone_id, 
      phone_model, this_phone, invite_code, 
      add_time, add_by)
    values (#{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, #{phoneId,jdbcType=VARCHAR}, 
      #{phoneModel,jdbcType=VARCHAR}, #{thisPhone,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{addBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengyu.core.model.UmsPhonebookInvite">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_phonebook_invite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="phoneId != null">
        phone_id,
      </if>
      <if test="phoneModel != null">
        phone_model,
      </if>
      <if test="thisPhone != null">
        this_phone,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addBy != null">
        add_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="phoneId != null">
        #{phoneId,jdbcType=VARCHAR},
      </if>
      <if test="phoneModel != null">
        #{phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="thisPhone != null">
        #{thisPhone,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        #{addBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chengyu.core.model.UmsPhonebookInviteExample" resultType="java.lang.Long">
    select count(*) from ums_phonebook_invite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_phonebook_invite
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.memberName != null">
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneId != null">
        phone_id = #{record.phoneId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneModel != null">
        phone_model = #{record.phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="record.thisPhone != null">
        this_phone = #{record.thisPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.inviteCode != null">
        invite_code = #{record.inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addBy != null">
        add_by = #{record.addBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_phonebook_invite
    set id = #{record.id,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=INTEGER},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      phone_id = #{record.phoneId,jdbcType=VARCHAR},
      phone_model = #{record.phoneModel,jdbcType=VARCHAR},
      this_phone = #{record.thisPhone,jdbcType=VARCHAR},
      invite_code = #{record.inviteCode,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      add_by = #{record.addBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyu.core.model.UmsPhonebookInvite">
    update ums_phonebook_invite
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="phoneId != null">
        phone_id = #{phoneId,jdbcType=VARCHAR},
      </if>
      <if test="phoneModel != null">
        phone_model = #{phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="thisPhone != null">
        this_phone = #{thisPhone,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        add_by = #{addBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyu.core.model.UmsPhonebookInvite">
    update ums_phonebook_invite
    set member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      phone_id = #{phoneId,jdbcType=VARCHAR},
      phone_model = #{phoneModel,jdbcType=VARCHAR},
      this_phone = #{thisPhone,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_by = #{addBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>