<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyu.core.mapper.UmsShopFreightTemplateMapper">
  <resultMap id="BaseResultMap" type="com.chengyu.core.model.UmsShopFreightTemplate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="valute_type" jdbcType="INTEGER" property="valuteType" />
    <result column="default_first_num" jdbcType="DECIMAL" property="defaultFirstNum" />
    <result column="default_first_price" jdbcType="DECIMAL" property="defaultFirstPrice" />
    <result column="default_second_num" jdbcType="DECIMAL" property="defaultSecondNum" />
    <result column="default_second_price" jdbcType="DECIMAL" property="defaultSecondPrice" />
    <result column="delivery_time" jdbcType="VARCHAR" property="deliveryTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_id, shop_name, name, type, valute_type, default_first_num, default_first_price, 
    default_second_num, default_second_price, delivery_time
  </sql>
  <select id="selectByExample" parameterType="com.chengyu.core.model.UmsShopFreightTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_shop_freight_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_shop_freight_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ums_shop_freight_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chengyu.core.model.UmsShopFreightTemplateExample">
    delete from ums_shop_freight_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chengyu.core.model.UmsShopFreightTemplate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_shop_freight_template (shop_id, shop_name, name, 
      type, valute_type, default_first_num, 
      default_first_price, default_second_num, default_second_price, 
      delivery_time)
    values (#{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{valuteType,jdbcType=INTEGER}, #{defaultFirstNum,jdbcType=DECIMAL}, 
      #{defaultFirstPrice,jdbcType=DECIMAL}, #{defaultSecondNum,jdbcType=DECIMAL}, #{defaultSecondPrice,jdbcType=DECIMAL}, 
      #{deliveryTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengyu.core.model.UmsShopFreightTemplate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_shop_freight_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="valuteType != null">
        valute_type,
      </if>
      <if test="defaultFirstNum != null">
        default_first_num,
      </if>
      <if test="defaultFirstPrice != null">
        default_first_price,
      </if>
      <if test="defaultSecondNum != null">
        default_second_num,
      </if>
      <if test="defaultSecondPrice != null">
        default_second_price,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="valuteType != null">
        #{valuteType,jdbcType=INTEGER},
      </if>
      <if test="defaultFirstNum != null">
        #{defaultFirstNum,jdbcType=DECIMAL},
      </if>
      <if test="defaultFirstPrice != null">
        #{defaultFirstPrice,jdbcType=DECIMAL},
      </if>
      <if test="defaultSecondNum != null">
        #{defaultSecondNum,jdbcType=DECIMAL},
      </if>
      <if test="defaultSecondPrice != null">
        #{defaultSecondPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chengyu.core.model.UmsShopFreightTemplateExample" resultType="java.lang.Long">
    select count(*) from ums_shop_freight_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_shop_freight_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.valuteType != null">
        valute_type = #{record.valuteType,jdbcType=INTEGER},
      </if>
      <if test="record.defaultFirstNum != null">
        default_first_num = #{record.defaultFirstNum,jdbcType=DECIMAL},
      </if>
      <if test="record.defaultFirstPrice != null">
        default_first_price = #{record.defaultFirstPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.defaultSecondNum != null">
        default_second_num = #{record.defaultSecondNum,jdbcType=DECIMAL},
      </if>
      <if test="record.defaultSecondPrice != null">
        default_second_price = #{record.defaultSecondPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.deliveryTime != null">
        delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_shop_freight_template
    set id = #{record.id,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      valute_type = #{record.valuteType,jdbcType=INTEGER},
      default_first_num = #{record.defaultFirstNum,jdbcType=DECIMAL},
      default_first_price = #{record.defaultFirstPrice,jdbcType=DECIMAL},
      default_second_num = #{record.defaultSecondNum,jdbcType=DECIMAL},
      default_second_price = #{record.defaultSecondPrice,jdbcType=DECIMAL},
      delivery_time = #{record.deliveryTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyu.core.model.UmsShopFreightTemplate">
    update ums_shop_freight_template
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="valuteType != null">
        valute_type = #{valuteType,jdbcType=INTEGER},
      </if>
      <if test="defaultFirstNum != null">
        default_first_num = #{defaultFirstNum,jdbcType=DECIMAL},
      </if>
      <if test="defaultFirstPrice != null">
        default_first_price = #{defaultFirstPrice,jdbcType=DECIMAL},
      </if>
      <if test="defaultSecondNum != null">
        default_second_num = #{defaultSecondNum,jdbcType=DECIMAL},
      </if>
      <if test="defaultSecondPrice != null">
        default_second_price = #{defaultSecondPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyu.core.model.UmsShopFreightTemplate">
    update ums_shop_freight_template
    set shop_id = #{shopId,jdbcType=INTEGER},
      shop_name = #{shopName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      valute_type = #{valuteType,jdbcType=INTEGER},
      default_first_num = #{defaultFirstNum,jdbcType=DECIMAL},
      default_first_price = #{defaultFirstPrice,jdbcType=DECIMAL},
      default_second_num = #{defaultSecondNum,jdbcType=DECIMAL},
      default_second_price = #{defaultSecondPrice,jdbcType=DECIMAL},
      delivery_time = #{deliveryTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>