<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyu.core.mapper.WalkTrendsCommentMapper">
  <resultMap id="BaseResultMap" type="com.chengyu.core.model.WalkTrendsComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="view_member_id" jdbcType="INTEGER" property="viewMemberId" />
    <result column="view_member_name" jdbcType="VARCHAR" property="viewMemberName" />
    <result column="view_member_head_img" jdbcType="VARCHAR" property="viewMemberHeadImg" />
    <result column="walk_member_id" jdbcType="INTEGER" property="walkMemberId" />
    <result column="walk_member_name" jdbcType="VARCHAR" property="walkMemberName" />
    <result column="walk_member_head_img" jdbcType="VARCHAR" property="walkMemberHeadImg" />
    <result column="trends_id" jdbcType="INTEGER" property="trendsId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    <result column="upd_by" jdbcType="VARCHAR" property="updBy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chengyu.core.model.WalkTrendsComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, view_member_id, view_member_name, view_member_head_img, walk_member_id, walk_member_name, 
    walk_member_head_img, trends_id, status, pid, type, add_time, add_by, upd_time, upd_by
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.chengyu.core.model.WalkTrendsCommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from walk_trends_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.chengyu.core.model.WalkTrendsCommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from walk_trends_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from walk_trends_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from walk_trends_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chengyu.core.model.WalkTrendsCommentExample">
    delete from walk_trends_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chengyu.core.model.WalkTrendsComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into walk_trends_comment (view_member_id, view_member_name, view_member_head_img, 
      walk_member_id, walk_member_name, walk_member_head_img, 
      trends_id, status, pid, 
      type, add_time, add_by, 
      upd_time, upd_by, content
      )
    values (#{viewMemberId,jdbcType=INTEGER}, #{viewMemberName,jdbcType=VARCHAR}, #{viewMemberHeadImg,jdbcType=VARCHAR}, 
      #{walkMemberId,jdbcType=INTEGER}, #{walkMemberName,jdbcType=VARCHAR}, #{walkMemberHeadImg,jdbcType=VARCHAR}, 
      #{trendsId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{addBy,jdbcType=VARCHAR}, 
      #{updTime,jdbcType=TIMESTAMP}, #{updBy,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chengyu.core.model.WalkTrendsComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into walk_trends_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="viewMemberId != null">
        view_member_id,
      </if>
      <if test="viewMemberName != null">
        view_member_name,
      </if>
      <if test="viewMemberHeadImg != null">
        view_member_head_img,
      </if>
      <if test="walkMemberId != null">
        walk_member_id,
      </if>
      <if test="walkMemberName != null">
        walk_member_name,
      </if>
      <if test="walkMemberHeadImg != null">
        walk_member_head_img,
      </if>
      <if test="trendsId != null">
        trends_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addBy != null">
        add_by,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
      <if test="updBy != null">
        upd_by,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="viewMemberId != null">
        #{viewMemberId,jdbcType=INTEGER},
      </if>
      <if test="viewMemberName != null">
        #{viewMemberName,jdbcType=VARCHAR},
      </if>
      <if test="viewMemberHeadImg != null">
        #{viewMemberHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="walkMemberId != null">
        #{walkMemberId,jdbcType=INTEGER},
      </if>
      <if test="walkMemberName != null">
        #{walkMemberName,jdbcType=VARCHAR},
      </if>
      <if test="walkMemberHeadImg != null">
        #{walkMemberHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="trendsId != null">
        #{trendsId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        #{addBy,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updBy != null">
        #{updBy,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chengyu.core.model.WalkTrendsCommentExample" resultType="java.lang.Long">
    select count(*) from walk_trends_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update walk_trends_comment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.viewMemberId != null">
        view_member_id = #{record.viewMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.viewMemberName != null">
        view_member_name = #{record.viewMemberName,jdbcType=VARCHAR},
      </if>
      <if test="record.viewMemberHeadImg != null">
        view_member_head_img = #{record.viewMemberHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="record.walkMemberId != null">
        walk_member_id = #{record.walkMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.walkMemberName != null">
        walk_member_name = #{record.walkMemberName,jdbcType=VARCHAR},
      </if>
      <if test="record.walkMemberHeadImg != null">
        walk_member_head_img = #{record.walkMemberHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="record.trendsId != null">
        trends_id = #{record.trendsId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addBy != null">
        add_by = #{record.addBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updTime != null">
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updBy != null">
        upd_by = #{record.updBy,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update walk_trends_comment
    set id = #{record.id,jdbcType=INTEGER},
      view_member_id = #{record.viewMemberId,jdbcType=INTEGER},
      view_member_name = #{record.viewMemberName,jdbcType=VARCHAR},
      view_member_head_img = #{record.viewMemberHeadImg,jdbcType=VARCHAR},
      walk_member_id = #{record.walkMemberId,jdbcType=INTEGER},
      walk_member_name = #{record.walkMemberName,jdbcType=VARCHAR},
      walk_member_head_img = #{record.walkMemberHeadImg,jdbcType=VARCHAR},
      trends_id = #{record.trendsId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      add_by = #{record.addBy,jdbcType=VARCHAR},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      upd_by = #{record.updBy,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update walk_trends_comment
    set id = #{record.id,jdbcType=INTEGER},
      view_member_id = #{record.viewMemberId,jdbcType=INTEGER},
      view_member_name = #{record.viewMemberName,jdbcType=VARCHAR},
      view_member_head_img = #{record.viewMemberHeadImg,jdbcType=VARCHAR},
      walk_member_id = #{record.walkMemberId,jdbcType=INTEGER},
      walk_member_name = #{record.walkMemberName,jdbcType=VARCHAR},
      walk_member_head_img = #{record.walkMemberHeadImg,jdbcType=VARCHAR},
      trends_id = #{record.trendsId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      add_by = #{record.addBy,jdbcType=VARCHAR},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      upd_by = #{record.updBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyu.core.model.WalkTrendsComment">
    update walk_trends_comment
    <set>
      <if test="viewMemberId != null">
        view_member_id = #{viewMemberId,jdbcType=INTEGER},
      </if>
      <if test="viewMemberName != null">
        view_member_name = #{viewMemberName,jdbcType=VARCHAR},
      </if>
      <if test="viewMemberHeadImg != null">
        view_member_head_img = #{viewMemberHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="walkMemberId != null">
        walk_member_id = #{walkMemberId,jdbcType=INTEGER},
      </if>
      <if test="walkMemberName != null">
        walk_member_name = #{walkMemberName,jdbcType=VARCHAR},
      </if>
      <if test="walkMemberHeadImg != null">
        walk_member_head_img = #{walkMemberHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="trendsId != null">
        trends_id = #{trendsId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        add_by = #{addBy,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updBy != null">
        upd_by = #{updBy,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chengyu.core.model.WalkTrendsComment">
    update walk_trends_comment
    set view_member_id = #{viewMemberId,jdbcType=INTEGER},
      view_member_name = #{viewMemberName,jdbcType=VARCHAR},
      view_member_head_img = #{viewMemberHeadImg,jdbcType=VARCHAR},
      walk_member_id = #{walkMemberId,jdbcType=INTEGER},
      walk_member_name = #{walkMemberName,jdbcType=VARCHAR},
      walk_member_head_img = #{walkMemberHeadImg,jdbcType=VARCHAR},
      trends_id = #{trendsId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_by = #{addBy,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_by = #{updBy,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyu.core.model.WalkTrendsComment">
    update walk_trends_comment
    set view_member_id = #{viewMemberId,jdbcType=INTEGER},
      view_member_name = #{viewMemberName,jdbcType=VARCHAR},
      view_member_head_img = #{viewMemberHeadImg,jdbcType=VARCHAR},
      walk_member_id = #{walkMemberId,jdbcType=INTEGER},
      walk_member_name = #{walkMemberName,jdbcType=VARCHAR},
      walk_member_head_img = #{walkMemberHeadImg,jdbcType=VARCHAR},
      trends_id = #{trendsId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_by = #{addBy,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_by = #{updBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>