<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyu.core.mapper.CustomerOrgRoleMapper">

    <insert id="addRoleMenuList">
        insert into org_role_menu (role_id, menu_id)
        values
    <foreach collection="menuIdList" item="item" separator="," index="index">
        (#{roleId,jdbcType=BIGINT}, #{item,jdbcType=BIGINT})
    </foreach>

    </insert>

</mapper>